.advantages-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;

  @media (max-width: $tablet-width) {
    justify-content: center;
    gap: 42px;
  }

  @media (max-width: $mobile-width) {
    width: inherit;
    gap: 30px;
  }

  // .advantages-list__item
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    height: 301px;
    padding: 17px 20px;
    background-color: $color-main-bgc;

    @media (max-width: $tablet-width) {
      height: 306px;
      min-height: 248px;
    }

    @media (max-width: $mobile-width) {
      height: 100%;
      padding: 15px 15px;
    }
  }

  &__item:hover &__link {
    background-color: $color-desc;
    transition: all 0.5s ease-out;
  }

  &__item:hover &__svg {
    stroke: $color-desc;
    fill: $main-white;
    transition: all 0.5s ease-out;
  }

  // .advantages-list__link
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $main-white;
    text-align: center;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-out;

    @media (max-width: $mobile-width) {
      font-size: $text-secondary-size;
      line-height: $mobile-main-interlining;
    }
  }

  // .advantages-list__svg
  &__svg {
    margin-bottom: 36px;
    stroke: $color-main-bgc;
    fill: $color-desc;
    transition: all 0.5s ease-out;

    @media (max-width: $mobile-width) {
      display: none;
      margin-bottom: 20px;
    }
  }

  // advantages-list__svg--services
  // advantages-list__svg--consulting
  // advantages-list__svg--food
  &__svg--services,
  &__svg--consulting,
  &__svg--food {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }
}