.care-list {
  display: flex;
  flex-flow: row wrap;
  gap: 42px;
  width: 100%;

  @media (max-width: $tablet-width) {
    justify-content: center;
    gap: 26px;
  }

  @media (max-width: $mobile-width) {
    gap: 30px;
  }

  // .care-list__item
  &__item {
    position: relative;
    max-width: 558px;
    width: 48%;
    min-height: 165px;
    border: 0.5px solid $color-desc;
    padding: 38px 78px 20px 59px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease-out;

    &:hover {
      background-color: $color-bgc-header;
      transition: background-color 0.3s ease-out;
    }

    @media (max-width: $tablet-width) {
      width: initial;
    }

    @media (max-width: $mobile-width) {
      padding: 21px 53px 21px 25px;
      min-height: 160px;
    }
  }

  // Переопределение очередности элементов начиная с планшета
  &__item:nth-child(1) {
    @media (max-width: $tablet-width) {
      order: 1;
    }
  }

  &__item:nth-child(2) {
    @media (max-width: $tablet-width) {
      order: 3;
    }
  }

  &__item:nth-child(3) {
    @media (max-width: $tablet-width) {
      order: 2;
    }
  }

  &__item:nth-child(4) {
    @media (max-width: $tablet-width) {
      order: 4;
    }
  }

  // care-list__rules-item
  &__rules-item {
    margin-bottom: 15px;
  }

  // care-list__desc-item
  &__desc-item {
    margin-bottom: 15px;
  }

  // .care-list__title
  &__title {
    color: $color-desc;
    font-weight: $roboto-bold;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 12px;

    @media (max-width: $mobile-width) {
      font-size: $text-alternate-size;
      line-height: $third-interlining;
    }
  }

  // .care-list__desc
  // care-list__desc-show-more
  &__desc,
  &__desc-show-more {
    font-size: $text-secondary-size;
    line-height: $third-interlining;

    @media (max-width: $mobile-width) {
      line-height: $mobile-main-interlining;
    }
  }

  // care-list__desc-show-more
  &__desc-show-more {
    position: absolute;
    top: 164px;
    left: 0;
    border: 0.5px solid $color-desc;
    padding: 38px 78px 20px 59px;
    background-color: $color-bgc-header;
    z-index: 100;
    animation: showCareItem 0.5s ease 0s 1 normal forwards;

    @media (max-width: $mobile-width) {
      padding: 25px 57px 25px 25px;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $color-desc;
    width: 60px;
    height: 100%;
    border: none;
    padding: 0;

    @media (max-width: $mobile-width) {
      width: 46px;
    }
  }

  &__svg {
    transition: all 0.5s ease-out;
  }
}

// Анимация появления аккордеона в блоке care
@keyframes showCareItem {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

// Анимация закрытия аккордеона в блоке care
@keyframes hiddenCareItem {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.remove-accordion {
  animation: hiddenCareItem 0.5s ease 0s 1 normal forwards;
}