.features-list {
  position: absolute;

  @media (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
    position: static;
    width: inherit;
    padding-left: 20px;
    margin-top: auto;
  }

  // .features-list__item
  &__item {
    position: relative;
    font-size: $text-secondary-size;
    line-height: $third-interlining;
    width: 213px;

    @media (max-width: $mobile-width) {
      position: static;
      margin-bottom: 30px;
      line-height: $mobile-main-interlining;
    }
  }

  &__item::before {
    position: absolute;
    content: '';
    top: 0;
    right: -50px;
    width: 15px;
    height: 15px;
    background-color: $color-desc;
    border-radius: 50%;

    @media (max-width: $tablet-width) {
      width: 10px;
      height: 10px;

      top: 3px;
      right: -17px;
    }

    @media (max-width: $mobile-width) {
      width: 8px;
      height: 8px;
      left: -18px;
      top: 6px;
    }
  }

  &__item:nth-child(1) {
    top: 324px;
    left: -397px;

    @media (max-width: $tablet-width) {
      top: 313px;
      left: -255px;
      width: 139px;
      text-align: right;
    }

    @media (max-width: $mobile-width) {
      position: relative;
      width: 100%;
      text-align: left;
      top: 0;
      left: 0;
      order: 1;
    }
  }

  &__item:nth-child(2) {
    top: 591px;
    left: -400px;

    @media (max-width: $tablet-width) {
      top: 438px;
      left: -273px;
      width: 140px;
      text-align: right;
    }

    @media (max-width: $mobile-width) {
      position: relative;
      width: 100%;
      top: 0;
      left: 0;
      text-align: left;
      order: 4;
    }
  }

  &__item:nth-child(3) {
    top: 369px;
    left: 502px;

    // Убрать первоначальный псевдоэлемент справа
    &::before {
      display: none;
    }

    @media (max-width: $tablet-width) {
      top: 249px;
      left: 290px;
      width: 130px;
    }

    @media (max-width: $mobile-width) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      order: 2;
    }
  }

  &__item:nth-child(4) {
    top: 539px;
    left: 443px;

    // Убрать первоначальный псевдоэлемент справа
    &::before {
      display: none;
    }

    @media (max-width: $tablet-width) {
      top: 316px;
      left: 266px;
      width: 102px;
    }

    @media (max-width: $mobile-width) {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      text-align: left;
      order: 3;
    }
  }

  // Новый псевдоэлемент, где буллит слева
  &__item--left-bullet::after {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 15px;
    height: 15px;
    background-color: $color-desc;
    border-radius: 50%;

    @media (max-width: $tablet-width) {
      width: 10px;
      height: 10px;
      top: 3px;
      left: -19px;
    }

    @media (max-width: $mobile-width) {
      width: 8px;
      height: 8px;
      left: -18px;
      top: 6px;
    }
  }
}