.features-list {
  position: absolute;

  // .features-list__item
  &__item {
    position: relative;
    font-size: $text-secondary-size;
    line-height: $third-interlining;
    width: 213px;
  }

  &__item::before {
    position: absolute;
    content: '';
    top: 0;
    right: -50px;
    width: 15px;
    height: 15px;
    background-color: $color-desc;
    border-radius: 50%;

    @media (max-width: $tablet-width) {
      width: 10px;
      height: 10px;

      top: 3px;
      right: -17px;
    }
  }

  &__item:nth-child(1) {
    top: 324px;
    left: -444px;

    @media (max-width: $tablet-width) {
      top: 303px;
      left: -265px;
      width: 139px;
      text-align: right;
    }
  }

  &__item:nth-child(2) {
    top: 591px;
    left: -470px;

    @media (max-width: $tablet-width) {
      top: 438px;
      left: -278px;
      width: 140px;
      text-align: right;
    }
  }

  &__item:nth-child(3) {
    top: 369px;
    left: 468px;

    // Убрать первоначальный псевдоэлемент справа
    &::before {
      display: none;
    }

    @media (max-width: $tablet-width) {
      top: 249px;
      left: 282px;
      width: 130px;
    }
  }

  &__item:nth-child(4) {
    top: 539px;
    left: 427px;

    // Убрать первоначальный псевдоэлемент справа
    &::before {
      display: none;
    }

    @media (max-width: $tablet-width) {
      top: 303px;
      left: 256px;
      width: 102px;
    }
  }

  // Новый псевдоэлемент, где буллит слева
  &__item--left-bullet::after {
    position: absolute;
    content: '';
    top: 0;
    left: -50px;
    width: 15px;
    height: 15px;
    background-color: $color-desc;
    border-radius: 50%;

    @media (max-width: $tablet-width) {
      width: 10px;
      height: 10px;
      top: 3px;
      left: -19px;
    }
  }
}
