.main-slider {

  // .main-slider__wrapper
  &__wrapper {
    max-width: 973px;
    margin: 0 auto;

    @media (max-width: $tablet-width) {
      overflow: visible;
    }
  }

  &__item.active {
    display: flex;
    justify-content: flex-end;
    position: relative;

    @media (max-width: $tablet-width) {
      justify-content: flex-start;
    }
  }

  // .main-slider__img-container
  &__img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 356px;
    overflow: hidden;

    @media (max-width: $tablet-width) {
      width: 207px;
      height: 209px;
      top: initial;
      left: initial;
      bottom: -100px;
      right: 108px;
    }

    @media (max-width: $mobile-width) {
      top: -61px;
      left: 82px;
      width: 126px;
      height: 126px;
    }
  }

  // .main-slider__content
  &__content {
    background-color: $color-secondary-bgc;
    border: 0.5px solid $button-slider;
    width: 660px;
    padding: 23px 34px 23px 26px;
    margin-left: auto;

    @media (max-width: $tablet-width) {
      width: 649px;
      margin-left: 0;
    }

    @media (max-width: $mobile-width) {
      background-color: transparent;
      width: inherit;
      border: none;
      margin: 0 auto;
      padding: 0;
    }
  }

  // main-slider__content-wrapper
  &__content-wrapper {
    background-color: $color-main-bgc;
    padding: 69px 98px 59px 98px;

    @media (max-width: $tablet-width) {
      padding-top: 75px;
      padding-right: 80px;
      padding-left: 109px;
    }

    @media (max-width: $mobile-width) {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 11px 16px;
      padding-top: 83px;
    }
  }

  // .main-slider__name-employee
  &__name-employee {
    font-weight: $roboto-medium;
    font-size: 24px;
    line-height: 28px;
    color: $color-desc;
    margin-bottom: 10px;

    @media (max-width: $mobile-width) {
      font-size: $text-alternate-size;
      line-height: $mobile-main-interlining;
    }
  }

  // .main-slider__employee-position
  &__employee-position {
    font-weight: $roboto-regular;
    line-height: $third-interlining;
    color: $color-desc;
    margin-bottom: 20px;

    @media (max-width: $mobile-width) {
      font-size: $text-secondary-size;
      line-height: $mobile-main-interlining;
      margin-bottom: 15px;
    }
  }

  // .main-slider__employee-quote
  &__employee-quote {
    margin-bottom: 43px;

    @media (max-width: $mobile-width) {
      font-size: $text-secondary-size;
      line-height: $mobile-main-interlining;
      text-align: center;
      margin-bottom: 15px;
    }
  }

  // main-slider__socials
  &__socials {
    position: initial;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;

    &::before {
      display: none;
    }
  }

  // main-slider__socials__item
  &__socials__item:not(:first-child) {
    margin-right: 10px;
  }

  // main-slider__btn-prev
  &__btn-prev {
    // left: -60px;
    left: -5px;
    width: 5%;

    @media (max-width: $tablet-width) {
      bottom: -560px;
      left: 335px
    }
  }

  // main-slider__btn-next
  &__btn-next {
    // right: -60px;
    width: 5%;
    right: -5px;

    @media (max-width: $tablet-width) {
      bottom: -560px;
      right: -11px;
    }
  }

  &__btn-icon-prev {
    background-image: url('../img/icons/icon-btn-prev.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  &__btn-icon-next {
    background-image: url('../img/icons/icon-btn-next.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }

  // Блок reviews
  // main-slider__wrapper--reviews-section
  &__wrapper--reviews-section {
    max-width: 1021px;
  }

  // main-slider__content-wrapper--reviews-section
  &__content-wrapper--reviews-section {
    background-color: transparent;

    @media (max-width: $tablet-width) {
      text-align: center;
      padding-top: 157px;
      padding-bottom: 33px;
    }

    @media (max-width: $mobile-width) {
      justify-content: flex-end;
      min-height: 357px;
      padding-bottom: 40px;
    }
  }

  // main-slider__content--reviews-section
  &__content--reviews-section {
    border: none;
    width: 640px;

    @media (max-width: $tablet-width) {
      width: 578px;
      padding: 0;
      margin: 0 auto;
    }

    @media (max-width: $mobile-width) {
      width: inherit;
      background-color: $color-bgc-header;
    }
  }

  // main-slider__name-employee--reviews-section
  &__name-employee--reviews-section {
    color: $main-white;

    @media (max-width: $mobile-width) {
      font-size: $text-alternate-size;
      line-height: $third-interlining;
      margin-bottom: 25px;
    }
  }

  // main-slider__employee-quote--reviews-section
  &__employee-quote--reviews-section {
    font-size: $text-secondary-size;
    line-height: $third-interlining;
    color: $color-text-reviews;

    @media (max-width: $tablet-width) {
      margin-bottom: 35px;
    }

    @media (max-width: $mobile-width) {
      line-height: $mobile-main-interlining;
      margin-bottom: 25px;
    }
  }

  // main-slider__btn-prev--reviews-section
  &__btn-prev--reviews-section {

    @media (max-width: $tablet-width) {
      top: 30px;
      left: 100px;
      bottom: initial;
      width: 9%;

      .main-slider__btn-icon-prev {
        background-image: url('../img/icons/icon-arrow-left.png');
        width: 60px;
      }
    }

    @media (max-width: $mobile-width) {
      top: -10px;
      left: -10px;

      .main-slider__btn-icon-prev {
        background-image: url('../img/icons/icon-btn-prev-small.svg');
        width: 8px;
        height: 18px;
      }
    }
  }

  // main-slider__btn-next--reviews-section
  &__btn-next--reviews-section {

    @media (max-width: $tablet-width) {
      top: 30px;
      right: 100px;
      bottom: initial;
      width: 9%;

      .main-slider__btn-icon-next {
        background-image: url('../img/icons/icon-arrow-right.png');
        width: 60px;
      }
    }

    @media (max-width: $mobile-width) {
      top: -10px;
      right: -10px;

      .main-slider__btn-icon-next {
        background-image: url('../img/icons/icon-btn-next-small.svg');
        width: 8px;
        height: 18px;
      }
    }
  }
}