.our-team {
  background-color: $color-secondary-bgc;
  padding: 83px 50px 72px 50px;

  @media (max-width: $tablet-width) {
    padding: 0;
    padding-top: 85px;
    padding-bottom: 193px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 53px;
    padding-bottom: 60px;
  }

  &__container {
    max-width: 1188px;
  }

  &__secondary-title {
    margin-bottom: 23px;
    text-align: center;

    @media (max-width: $mobile-width) {
      margin-bottom: 25px;
    }
  }

  &__section-description {
    margin-bottom: 22px;
    text-align: center;

    @media (max-width: $mobile-width) {
      margin-bottom: 103px;
    }
  }

  @media (max-width: $tablet-width) {

    // main-slider__btn-prev
    .main-slider__btn-prev {
      position: absolute;
      top: 434px;
      // bottom: -562px;
      left: 326px;
      height: 100px;
    }

    // main-slider__btn-next
    .main-slider__btn-next {
      position: absolute;
      top: 434px;
      height: 100px;
      right: 61px;
    }
  }

  @media (max-width: $mobile-width) {

    // main-slider__btn-prev
    .main-slider__btn-prev {
      top: -50px;
      left: 50px;
      width: 10%;
    }

    // main-slider__btn-next
    .main-slider__btn-next {
      top: -50px;
      right: 50px;
      width: 10%;
    }
  }

  @media (max-width: $mobile-width) {

    .main-slider__btn-icon-prev {
      background-image: url('../img/icons/icon-btn-prev-small.svg');
      width: 8px;
      height: 18px;
    }

    .main-slider__btn-icon-next {
      background-image: url('../img/icons/icon-btn-next-small.svg');
      width: 8px;
      height: 18px;
    }
  }
}