.page-footer {
  min-height: 302px;
  background-color: $color-secondary-bgc;

  @media (max-width: $mobile-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    min-height: 105px;
  }

  // .page-footer__container
  &__container {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    max-width: 848px;
    padding-top: 68px;
    padding-bottom: 50px;

    @media (max-width: $mobile-width) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__container>* {
    margin-bottom: 20px;
  }

  &__container>*:not(:nth-child(4n)) {
    margin-right: 25px;

    @media (max-width: $mobile-width) {
      margin-right: 0;
    }
  }

  // page-footer__logo
  &__logo {
    margin: 0;

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  // page-footer__logo-mobile
  &__logo-mobile {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
      order: 4;
      margin: 0;
    }
  }

  // .page-footer__socials
  &__socials {
    display: flex;
    flex-flow: row wrap;
    position: initial;

    &::before {
      display: none;
    }

    @media (max-width: $tablet-width) {
      flex-direction: initial;
    }

    @media (max-width: $mobile-width) {
      order: 3;
      margin-bottom: 26px;
    }
  }

  // .page-footer__socials-item
  &__socials-item:not(:last-child) {
    margin-right: 9px;
  }

  // .page-footer__address
  &__address {
    font-weight: $roboto-regular;
    font-size: $text-secondary-size;
    color: $color-text-address;

    @media (max-width: $mobile-width) {
      line-height: $mobile-main-interlining;
      order: 1;
    }
  }

  // .page-footer__phone
  &__phone {
    font-weight: $roboto-bold;
    font-size: $text-secondary-size;
    color: $color-text-phone;

    @media (max-width: $mobile-width) {
      line-height: $mobile-main-interlining;
      margin-bottom: 26px;
      order: 2;
    }
  }
}