.page-header {
  background-color: $color-bgc-header;
  background-image: url('../img/background/Desktop/bgc-header-desktop.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  min-height: 684px;
  padding-top: 46px;

  @media (max-width: $tablet-width) {
    background-image: url('../img/background/Tablet/bgc-header-tablet.png');
    min-height: 595px;
    padding-top: 28px;
    padding-bottom: 46px;
  }

  @media (max-width: $mobile-width) {
    background-image: url('../img/background/Mobile/bgc-header-mobile.png');
    min-height: 617px;
    background-position: right bottom;
    background-size: auto;
  }

  // .page-header__container
  &__container {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    max-width: 960px;
  }

  // .page-header__content
  &__content {
    width: 338px;
    margin-top: 112px;

    @media (max-width: $tablet-width) {
      margin-top: 90px;
    }

    @media (max-width: $mobile-width) {
      width: inherit;
      margin-top: 57px;
      text-align: center;
    }
  }

  // page-header__section-description-city
  &__section-description-city {
    margin-bottom: 16px;

    @media (max-width: $tablet-width) {
      margin-bottom: 19px;
    }

    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }
  }

  // page-header__main-title
  &__main-title {
    margin-bottom: 18px;
  }

  // page-header__main-button
  &__main-button {
    margin-top: 46px;

    @media (max-width: $tablet-width) {
      margin-bottom: 51px;
      margin-top: 51px;
    }

    @media (max-width: $mobile-width) {
      margin: 0;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  // page-header__socials
  &__socials {
    position: relative;
    top: 38px;
    left: -124px;

    @media (max-width: $tablet-width) {
      flex-direction: row;
      justify-content: flex-start;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}