.pets {
  background-color: $color-main-bgc;
  padding-top: 223px;
  padding-bottom: 83px;

  @media (max-width: $tablet-width) {
    padding-top: 100px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 60px;
  }

  // pets__container
  &__container {
    text-align: center;
  }

  // pets__secondary-title
  &__secondary-title {
    margin-bottom: 23px;

    @media (max-width: $mobile-width) {
      margin-bottom: 35px;
    }
  }

  // pets__section-description
  &__section-description {
    margin-bottom: 38px;

    @media (max-width: $mobile-width) {
      margin-bottom: 40px;
    }
  }

  // pets__main-button
  &__main-button {
    display: block;
    margin: 0 auto;
    margin-top: 55px;

    @media (max-width: $mobile-width) {
      margin-top: 45px;
    }
  }

  // pets__slider-btn-icon-prev
  &__slider-btn-icon-prev {
    background-image: url('../img/icons/icon-btn-prev.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    @media (max-width: $mobile-width) {
      width: 8px;
      height: 18px;
    }
  }

  // pets__slider-btn-icon-next
  &__slider-btn-icon-next {
    background-image: url('../img/icons/icon-btn-next.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    @media (max-width: $mobile-width) {
      width: 8px;
      height: 18px;
    }
  }

  // pets__slider-btn-prev
  &__slider-btn-prev {
    left: -45px;

    @media (max-width: $mobile-width) {
      left: -15px;
    }
  }

  // pets__slider-btn-next
  &__slider-btn-next {
    right: -45px;

    @media (max-width: $mobile-width) {
      right: -15px;
    }
  }

  // pets__slider-btn-next
  &__slider-btn-prev,
  &__slider-btn-next {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
    }
  }

  // pets__indicators
  &__indicators {
    position: static;
    margin-bottom: 46px;

    [data-bs-target] {
      box-sizing: border-box;
      color: $main-white;
      width: 75px;
      text-indent: 0;

      @media (max-width: $mobile-width) {
        font-size: $text-main-size;
        line-height: $mobile-main-interlining;
      }
    }
  }

  // Стилизация слайдов в слайдере в блоке pets
  .carousel-item-next,
  .carousel-item-prev,
  .gallery-images.active {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 30px;

    @media (max-width: $tablet-width) {
      grid-template-columns: auto;
      column-gap: 0;
    }
  }
}