.socials {
  position: relative;
  top: 38px;
  left: -100px;

  &::before {
    position: absolute;
    content: "";
    top: -62px;
    left: -30px;
    width: 77px;
    height: 0.5px;
    background-color: $color-socials-pseudo;
    transform: rotate(90deg);
  }

  @media (max-width: $tablet-width) {
    position: static;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;

    // socials__item
    &__item {
      margin-right: 11px;
    }

    &::before {
      display: none;
    }
  }
}
