* {
  box-sizing: border-box;
}

.page-body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  min-height: 100%;
  color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yeseva One";
  src: local("Yeseva One"), url("../fonts/YesevaOne-Regular.woff2") format("woff2"), url("../fonts/YesevaOne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1159px;
  margin: 0 auto;
  padding: 0;
}

.socials {
  position: relative;
  top: 38px;
  left: -100px;
}

.socials::before {
  position: absolute;
  content: "";
  top: -62px;
  left: -30px;
  width: 77px;
  height: 0.5px;
  background-color: rgba(255, 255, 255, 0.61);
  transform: rotate(90deg);
}

.page-header {
  background-color: #181617;
  background-image: url("../img/background/Desktop/bgc-header-desktop.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  min-height: 684px;
  padding-top: 46px;
}

.page-header__container {
  position: relative;
  display: flex;
  flex-flow: column wrap;
  max-width: 960px;
}

.page-header__content {
  width: 338px;
  margin-top: 112px;
}

.page-header__section-description-city {
  margin-bottom: 16px;
}

.page-header__main-title {
  margin-bottom: 18px;
}

.page-header__main-button {
  margin-top: 46px;
}

.page-header__socials {
  position: relative;
  top: 38px;
  left: -124px;
}

.section-description {
  color: #a07B50;
  font-weight: 400;
  line-height: 24px;
}

.main-title {
  font-family: "Yeseva One", "Verdana", sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 60px;
}

.main-button {
  display: block;
  width: 200px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  border: 1px solid #a07B50;
  padding: 18px 35px;
  transition: background-color 0.5s ease-out;
}

.main-button:hover {
  background-color: #a07B50;
}

.main-button:active {
  opacity: 0.5;
}

.logo {
  margin: 0 auto;
}

.logo__svg--mobile {
  display: none;
}

.pets {
  background-color: #1f1c1d;
  padding-top: 223px;
  padding-bottom: 83px;
}

.pets__container {
  text-align: center;
}

.pets__secondary-title {
  margin-bottom: 23px;
}

.pets__section-description {
  margin-bottom: 33px;
}

.pets__main-button {
  display: block;
  margin: 0 auto;
  margin-top: 65px;
}

.pets__slider-btn-icon-prev {
  background-image: url("../img/icons/icon-btn-prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pets__slider-btn-icon-next {
  background-image: url("../img/icons/icon-btn-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.pets__slider-btn-prev {
  left: -45px;
}

.pets__slider-btn-next {
  right: -45px;
}

.pets__slider-btn-prev,
.pets__slider-btn-next {
  display: none;
}

.pets__indicators {
  position: static;
  margin-bottom: 46px;
}

.pets__indicators [data-bs-target] {
  box-sizing: border-box;
  color: #ffffff;
  margin-right: 57px;
  text-indent: 0;
}

.pets .carousel-item-next,
.pets .carousel-item-prev,
.pets .gallery-images.active {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 30px;
}

.secondary-title {
  font-family: "Yeseva One", "Verdana", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
}

.gallery-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 48px;
}

.gallery-list__item:not(:last-child) {
  margin-right: 43px;
}

.gallery-list__button {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.2);
}

.gallery-list__button--active {
  color: #ffffff;
}

.gallery-images__photo1 {
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: start end;
  width: 519px;
  height: 214px;
  overflow: hidden;
}

.gallery-images__photo2 {
  display: grid;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  height: 486px;
  overflow: hidden;
}

.gallery-images__photo3 {
  grid-column: 1/2;
  grid-row: 2/3;
  place-self: end end;
  width: 518px;
  height: 241px;
  overflow: hidden;
}

.features {
  background-color: #1f1c1d;
}

.features__container {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 925px;
  background-image: url("../img/background/Desktop/features-bgc-mein-kun.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 59% 33px;
}

.features__secondary-title {
  margin-bottom: 23px;
}

.features__section-description {
  width: 745px;
  text-align: center;
  margin-bottom: 33px;
}

.features-list {
  position: absolute;
}

.features-list__item {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  width: 213px;
}

.features-list__item::before {
  position: absolute;
  content: "";
  top: 0;
  right: -50px;
  width: 15px;
  height: 15px;
  background-color: #a07B50;
  border-radius: 50%;
}

.features-list__item:nth-child(1) {
  top: 324px;
  left: -397px;
}

.features-list__item:nth-child(2) {
  top: 591px;
  left: -400px;
}

.features-list__item:nth-child(3) {
  top: 369px;
  left: 502px;
}

.features-list__item:nth-child(3)::before {
  display: none;
}

.features-list__item:nth-child(4) {
  top: 539px;
  left: 443px;
}

.features-list__item:nth-child(4)::before {
  display: none;
}

.features-list__item--left-bullet::after {
  position: absolute;
  content: "";
  top: 0;
  left: -50px;
  width: 15px;
  height: 15px;
  background-color: #a07B50;
  border-radius: 50%;
}

.advantages {
  background-color: #151313;
  padding-top: 83px;
  padding-bottom: 99px;
}

.advantages__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantages__secondary-title {
  margin-bottom: 23px;
}

.advantages__section-description {
  margin-bottom: 47px;
}

.advantages-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 30px;
}

.advantages-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 301px;
  padding: 17px 20px;
  background-color: #1f1c1d;
}

.advantages-list__item:hover .advantages-list__link {
  background-color: #a07B50;
  transition: all 0.5s ease-out;
}

.advantages-list__item:hover .advantages-list__svg {
  stroke: #a07B50;
  fill: #ffffff;
  transition: all 0.5s ease-out;
}

.advantages-list__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-out;
}

.advantages-list__svg {
  margin-bottom: 36px;
  stroke: #1f1c1d;
  fill: #a07B50;
  transition: all 0.5s ease-out;
}

.advantages-list__svg--services,
.advantages-list__svg--consulting,
.advantages-list__svg--food {
  display: none;
}

.care {
  background-image: url("../img/background/Desktop/bgc-care.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 84px 50px;
  min-height: 645px;
}

.care__secondary-title {
  text-align: center;
  margin-bottom: 48px;
}

.care__secondary-title br {
  display: none;
}

.care-list {
  display: flex;
  flex-flow: row wrap;
  gap: 42px;
  width: 100%;
}

.care-list__item {
  position: relative;
  max-width: 558px;
  width: 48%;
  min-height: 165px;
  border: 0.5px solid #a07B50;
  padding: 38px 78px 20px 59px;
  cursor: pointer;
  user-select: none;
}

.care-list__rules-item {
  margin-bottom: 15px;
}

.care-list__desc-item {
  margin-bottom: 15px;
}

.care-list__title {
  color: #a07B50;
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  margin-bottom: 12px;
}

.care-list__desc,
.care-list__desc-show-more {
  font-size: 14px;
  line-height: 22px;
}

.care-list__desc-show-more {
  position: absolute;
  top: 164px;
  left: 0;
  border: 0.5px solid #a07B50;
  padding: 38px 78px 20px 59px;
  background-color: #181617;
  z-index: 100;
  animation: showCareItem 0.5s ease 0s 1 normal forwards;
}

.care-list__button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #a07B50;
  width: 60px;
  height: 100%;
  border: none;
  padding: 0;
}

.care-list__svg {
  transition: all 0.5s ease-out;
}

@keyframes showCareItem {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hiddenCareItem {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.remove-accordion {
  animation: hiddenCareItem 0.5s ease 0s 1 normal forwards;
}

.our-team {
  background-color: #151313;
  padding: 83px 50px 72px 50px;
}

.our-team__container {
  max-width: 1188px;
}

.our-team__secondary-title {
  margin-bottom: 23px;
  text-align: center;
}

.our-team__section-description {
  margin-bottom: 22px;
  text-align: center;
}

.main-slider__wrapper {
  max-width: 973px;
  margin: 0 auto;
}

.main-slider__item.active {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.main-slider__img-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 356px;
  overflow: hidden;
}

.main-slider__content {
  background-color: #151313;
  border: 0.5px solid rgba(160, 123, 80, 0.47);
  width: 660px;
  padding: 23px 34px 23px 26px;
  margin-left: auto;
}

.main-slider__content-wrapper {
  background-color: #1f1c1d;
  padding: 69px 98px 59px 98px;
}

.main-slider__name-employee {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #a07B50;
  margin-bottom: 10px;
}

.main-slider__employee-position {
  font-weight: 400;
  line-height: 22px;
  color: #a07B50;
  margin-bottom: 20px;
}

.main-slider__employee-quote {
  margin-bottom: 43px;
}

.main-slider__socials {
  position: initial;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: flex-end;
}

.main-slider__socials::before {
  display: none;
}

.main-slider__socials__item:not(:first-child) {
  margin-right: 10px;
}

.main-slider__btn-prev {
  left: -5px;
  width: 5%;
}

.main-slider__btn-next {
  width: 5%;
  right: -5px;
}

.main-slider__btn-icon-prev {
  background-image: url("../img/icons/icon-btn-prev.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.main-slider__btn-icon-next {
  background-image: url("../img/icons/icon-btn-next.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.main-slider__wrapper--reviews-section {
  max-width: 1021px;
}

.main-slider__content-wrapper--reviews-section {
  background-color: transparent;
}

.main-slider__content--reviews-section {
  border: none;
  width: 640px;
}

.main-slider__name-employee--reviews-section {
  color: #ffffff;
}

.main-slider__employee-quote--reviews-section {
  font-size: 14px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.72);
}

.faq {
  background-color: #1f1c1d;
  padding: 73px 0;
}

.faq__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq__secondary-title {
  margin-bottom: 23px;
}

.faq__section-description {
  margin-bottom: 53px;
}

.faq__list {
  width: 793px;
  margin: 0;
  padding: 0;
}

.faq__list-item {
  position: relative;
  border: 0.5px solid rgba(160, 123, 80, 0.47);
  padding: 15px 42px;
  margin-bottom: 37px;
  min-height: 110px;
  cursor: pointer;
  user-select: none;
  transition: all 0.5s ease-out;
}

.faq__question {
  transform: translate(0, -50%);
}

.faq__list-item::marker {
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  color: #a07B50;
  margin-right: 32px;
  content: "0" counter(list-item) " ";
}

.faq__list-rules-item {
  margin-bottom: 15px;
}

.faq__list-rules-item-reserve {
  text-transform: uppercase;
  text-decoration: underline;
}

.faq__button {
  position: absolute;
  top: 0;
  right: 0;
  width: 104px;
  min-height: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
}

.faq__button-vertical-line,
.faq__button-horizontal-line {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 42%;
  width: 18px;
  height: 2px;
  background-color: #a07B50;
  transition: all 0.5s ease-out;
}

.faq__button-vertical-line {
  transform: rotate(90deg);
}

.faq__answer-container {
  border-top: 0.5px solid rgba(160, 123, 80, 0.47);
  padding-top: 20px;
  animation: showFaqAnswer 0.5s ease 0s 1 normal forwards;
}

.faq__answer {
  margin-bottom: 15px;
}

@keyframes showFaqAnswer {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hiddenFaqAnswer {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.remove-faq-answer {
  animation: hiddenFaqAnswer 0.5s ease 0s 1 normal forwards;
}

.reviews {
  background-color: #1f1c1d;
  min-height: 650px;
}

.reviews__secondary-title {
  margin-bottom: 58px;
  text-align: center;
}

.reviews__img-container {
  width: 481px;
  height: 331px;
  overflow: hidden;
  top: 24px;
  left: -17px;
}

.reviews__date-socials-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.reviews__date {
  font-weight: 400;
  font-size: 12px;
  margin-right: 36px;
  line-height: 18px;
  color: #a07B50;
}

.reviews__socials__item {
  position: relative;
  width: 28px;
  height: 28px;
  border: 0.5px solid #a07B50;
}

.reviews__socials__item:not(:first-child) {
  margin-right: 17px;
}

.reviews__socials-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reviews .main-slider__item.active {
  justify-content: center;
}

.page-footer {
  min-height: 302px;
  background-color: #151313;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  max-width: 848px;
  padding-top: 68px;
  padding-bottom: 50px;
}

.page-footer__container > * {
  margin-bottom: 20px;
}

.page-footer__container > *:not(:nth-child(4n)) {
  margin-right: 25px;
}

.page-footer__logo {
  margin: 0;
}

.page-footer__logo-mobile {
  display: none;
}

.page-footer__socials {
  display: flex;
  flex-flow: row wrap;
  position: initial;
}

.page-footer__socials::before {
  display: none;
}

.page-footer__socials-item:not(:last-child) {
  margin-right: 9px;
}

.page-footer__address {
  font-weight: 400;
  font-size: 14px;
  color: rgba(253, 242, 230, 0.83);
}

.page-footer__phone {
  font-weight: 700;
  font-size: 14px;
  color: #fdf2e6;
}

@media (max-width: 1159px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }

  .socials {
    position: static;
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
  }

  .socials__item {
    margin-right: 11px;
  }

  .socials::before {
    display: none;
  }

  .page-header {
    background-image: url("../img/background/Tablet/bgc-header-tablet.webp");
    min-height: 595px;
    padding-top: 28px;
    padding-bottom: 46px;
  }

  .page-header__content {
    margin-top: 90px;
  }

  .page-header__section-description-city {
    margin-bottom: 19px;
  }

  .page-header__main-button {
    margin-bottom: 51px;
    margin-top: 51px;
  }

  .page-header__socials {
    flex-direction: row;
    justify-content: flex-start;
  }

  .pets {
    padding-top: 95px;
  }

  .pets__main-button {
    margin-top: 23px;
  }

  .pets__slider-btn-prev,
  .pets__slider-btn-next {
    display: block;
  }

  .pets .carousel-item-next,
  .pets .carousel-item-prev,
  .pets .gallery-images.active {
    grid-template-columns: auto;
    column-gap: 0;
  }

  .gallery-images__photo1 {
    grid-column: initial;
    grid-row: initial;
    place-self: initial;
    width: 470px;
    height: 197px;
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0, -50%);
  }

  .gallery-images__photo2 {
    display: initial;
    justify-self: flex-start;
    width: 474px;
    height: auto;
    z-index: 100;
  }

  .gallery-images__photo3 {
    grid-column: initial;
    grid-row: initial;
    place-self: initial;
    width: 416px;
    height: 197px;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(0, -50%);
  }

  .features__container {
    background-image: url("../img/background/Tablet/features-bgc-mein-kun-tablet.webp");
    background-size: auto;
    min-height: 748px;
    background-position: 53% 139px;
    padding-top: 7px;
  }

  .features__section-description {
    width: 448px;
  }

  .features-list__item::before {
    width: 10px;
    height: 10px;
    top: 3px;
    right: -17px;
  }

  .features-list__item:nth-child(1) {
    top: 313px;
    left: -255px;
    width: 139px;
    text-align: right;
  }

  .features-list__item:nth-child(2) {
    top: 438px;
    left: -273px;
    width: 140px;
    text-align: right;
  }

  .features-list__item:nth-child(3) {
    top: 249px;
    left: 290px;
    width: 130px;
  }

  .features-list__item:nth-child(4) {
    top: 316px;
    left: 266px;
    width: 102px;
  }

  .features-list__item--left-bullet::after {
    width: 10px;
    height: 10px;
    top: 3px;
    left: -19px;
  }

  .advantages {
    padding-bottom: 112px;
  }

  .advantages__section-description {
    margin-bottom: 58px;
  }

  .advantages-list {
    justify-content: center;
    gap: 42px;
  }

  .advantages-list__item {
    height: 306px;
    min-height: 248px;
  }

  .care {
    padding-left: 0;
    padding-right: 0;
    padding-top: 91px;
    padding-bottom: 106px;
  }

  .care__secondary-title {
    margin-bottom: 37px;
  }

  .care-list {
    justify-content: center;
    gap: 26px;
  }

  .care-list__item {
    width: initial;
  }

  .care-list__item:nth-child(1) {
    order: 1;
  }

  .care-list__item:nth-child(2) {
    order: 3;
  }

  .care-list__item:nth-child(3) {
    order: 2;
  }

  .care-list__item:nth-child(4) {
    order: 4;
  }

  .our-team {
    padding: 0;
    padding-top: 85px;
    padding-bottom: 193px;
  }

  .our-team .main-slider__btn-prev {
    position: absolute;
    top: 434px;
    left: 326px;
    height: 100px;
  }

  .our-team .main-slider__btn-next {
    position: absolute;
    top: 434px;
    height: 100px;
    right: 61px;
  }

  .main-slider__wrapper {
    overflow: visible;
  }

  .main-slider__item.active {
    justify-content: flex-start;
  }

  .main-slider__img-container {
    width: 207px;
    height: 209px;
    top: initial;
    left: initial;
    bottom: -100px;
    right: 108px;
  }

  .main-slider__content {
    width: 649px;
    margin-left: 0;
  }

  .main-slider__content-wrapper {
    padding-top: 75px;
    padding-right: 80px;
    padding-left: 109px;
  }

  .main-slider__btn-prev {
    bottom: -560px;
    left: 335px;
  }

  .main-slider__btn-next {
    bottom: -560px;
    right: -11px;
  }

  .main-slider__content-wrapper--reviews-section {
    text-align: center;
    padding-top: 157px;
    padding-bottom: 33px;
  }

  .main-slider__content--reviews-section {
    width: 578px;
    padding: 0;
    margin: 0 auto;
  }

  .main-slider__employee-quote--reviews-section {
    margin-bottom: 35px;
  }

  .main-slider__btn-prev--reviews-section {
    top: 30px;
    left: 100px;
    bottom: initial;
    width: 9%;
  }

  .main-slider__btn-prev--reviews-section .main-slider__btn-icon-prev {
    background-image: url("../img/icons/icon-arrow-left.png");
    width: 60px;
  }

  .main-slider__btn-next--reviews-section {
    top: 30px;
    right: 100px;
    bottom: initial;
    width: 9%;
  }

  .main-slider__btn-next--reviews-section .main-slider__btn-icon-next {
    background-image: url("../img/icons/icon-arrow-right.png");
    width: 60px;
  }

  .faq {
    padding-top: 144px;
  }

  .faq__secondary-title {
    margin-bottom: 20px;
  }

  .faq__list {
    width: 553px;
  }

  .faq__list-item {
    min-height: 77px;
    margin-bottom: 23px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .faq__list-item::marker {
    font-size: 50px;
    line-height: 58px;
  }

  .faq__button-vertical-line,
  .faq__button-horizontal-line {
    top: 53%;
    left: 60%;
  }

  .reviews__secondary-title {
    margin-bottom: 143px;
  }

  .reviews__img-container {
    width: 302px;
    height: 208px;
    bottom: initial;
    top: -91px;
    right: 193px;
  }

  .reviews__date-socials-container {
    justify-content: center;
  }

  .page-footer {
    display: flex;
    align-items: center;
    min-height: 105px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .page-footer__logo {
    display: none;
  }

  .page-footer__socials {
    flex-direction: initial;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 290px;
    padding: 0 0;
  }

  .page-header {
    background-image: url("../img/background/Mobile/bgc-header-mobile.webp");
    min-height: 617px;
    background-position: right bottom;
    background-size: auto;
  }

  .page-header__content {
    width: inherit;
    margin-top: 51px;
    text-align: center;
  }

  .page-header__section-description-city {
    margin-bottom: 9px;
  }

  .page-header__main-button {
    margin: 0;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-header__socials {
    display: none;
  }

  .section-description {
    font-size: 14px;
    line-height: 19px;
  }

  .main-title {
    font-size: 36px;
    line-height: 41px;
  }

  .main-button {
    width: 141px;
    font-size: 12px;
    line-height: 14px;
    padding: 12px 17px;
  }

  .logo__svg--mobile {
    display: block;
  }

  .logo__svg--desktop {
    display: none;
  }

  .pets {
    padding-bottom: 53px;
    padding-top: 54px;
  }

  .pets__section-description {
    margin-bottom: 3px;
  }

  .pets__main-button {
    margin-top: 45px;
  }

  .pets__slider-btn-icon-prev {
    width: 8px;
    height: 18px;
  }

  .pets__slider-btn-icon-next {
    width: 8px;
    height: 18px;
  }

  .pets__slider-btn-prev {
    left: -15px;
  }

  .pets__slider-btn-next {
    right: -15px;
  }

  .pets__indicators [data-bs-target] {
    font-size: 16px;
    line-height: 19px;
  }

  .secondary-title {
    font-size: 28px;
    line-height: 32px;
  }

  .gallery-images__photo1 {
    display: none;
  }

  .gallery-images__photo2 {
    width: 234px;
    max-height: 248px;
  }

  .gallery-images__photo3 {
    display: none;
  }

  .features__container {
    background-image: url("../img/background/Mobile/features-bgc-mein-kun-mobile.webp");
    min-height: 784px;
    background-position: center 191px;
  }

  .features__secondary-title {
    margin-bottom: 25px;
    text-align: center;
  }

  .features__section-description {
    width: inherit;
  }

  .features-list {
    display: flex;
    flex-direction: column;
    position: static;
    width: inherit;
    padding-left: 20px;
    margin-top: auto;
  }

  .features-list__item {
    position: static;
    margin-bottom: 30px;
    line-height: 19px;
  }

  .features-list__item::before {
    width: 8px;
    height: 8px;
    left: -18px;
    top: 6px;
  }

  .features-list__item:nth-child(1) {
    position: relative;
    width: 100%;
    text-align: left;
    top: 0;
    left: 0;
    order: 1;
  }

  .features-list__item:nth-child(2) {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    text-align: left;
    order: 4;
  }

  .features-list__item:nth-child(3) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    order: 2;
  }

  .features-list__item:nth-child(4) {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    text-align: left;
    order: 3;
  }

  .features-list__item--left-bullet::after {
    width: 8px;
    height: 8px;
    left: -18px;
    top: 6px;
  }

  .advantages {
    padding-top: 55px;
    padding-bottom: 60px;
  }

  .advantages__secondary-title {
    margin-bottom: 23px;
    text-align: center;
    width: 230px;
  }

  .advantages__section-description {
    margin-bottom: 40px;
    text-align: center;
  }

  .advantages-list {
    width: inherit;
    gap: 30px;
  }

  .advantages-list__item {
    height: 248px;
    padding: 15px 15px;
  }

  .advantages-list__link {
    font-size: 14px;
    line-height: 19px;
  }

  .advantages-list__svg {
    display: none;
    margin-bottom: 20px;
  }

  .advantages-list__svg--services,
  .advantages-list__svg--consulting,
  .advantages-list__svg--food {
    display: block;
  }

  .care {
    padding-top: 51px;
    padding-bottom: 60px;
  }

  .care__secondary-title {
    margin-bottom: 32px;
  }

  .care__secondary-title br {
    display: block;
  }

  .care-list {
    gap: 30px;
  }

  .care-list__item {
    padding: 21px 53px 21px 25px;
    min-height: 160px;
  }

  .care-list__title {
    font-size: 18px;
    line-height: 22px;
  }

  .care-list__desc,
  .care-list__desc-show-more {
    line-height: 19px;
  }

  .care-list__desc-show-more {
    padding: 25px 57px 25px 25px;
  }

  .care-list__button {
    width: 46px;
  }

  .our-team {
    padding-top: 53px;
    padding-bottom: 60px;
  }

  .our-team__secondary-title {
    margin-bottom: 25px;
  }

  .our-team__section-description {
    margin-bottom: 103px;
  }

  .our-team .main-slider__btn-prev {
    top: -50px;
    left: 50px;
    width: 10%;
  }

  .our-team .main-slider__btn-next {
    top: -50px;
    right: 50px;
    width: 10%;
  }

  .our-team .main-slider__btn-icon-prev {
    background-image: url("../img/icons/icon-btn-prev-small.svg");
    width: 8px;
    height: 18px;
  }

  .our-team .main-slider__btn-icon-next {
    background-image: url("../img/icons/icon-btn-next-small.svg");
    width: 8px;
    height: 18px;
  }

  .main-slider__img-container {
    top: -61px;
    left: 82px;
    width: 126px;
    height: 126px;
  }

  .main-slider__content {
    background-color: transparent;
    width: inherit;
    border: none;
    margin: 0 auto;
    padding: 0;
  }

  .main-slider__content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 11px 16px;
    padding-top: 83px;
  }

  .main-slider__name-employee {
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 3px;
  }

  .main-slider__employee-position {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 15px;
  }

  .main-slider__employee-quote {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    margin-bottom: 15px;
  }

  .main-slider__content-wrapper--reviews-section {
    justify-content: flex-end;
    min-height: 357px;
    padding-bottom: 40px;
  }

  .main-slider__content--reviews-section {
    width: inherit;
    background-color: #181617;
  }

  .main-slider__name-employee--reviews-section {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
  }

  .main-slider__employee-quote--reviews-section {
    line-height: 19px;
    margin-bottom: 25px;
  }

  .main-slider__btn-prev--reviews-section {
    top: -10px;
    left: -10px;
  }

  .main-slider__btn-prev--reviews-section .main-slider__btn-icon-prev {
    background-image: url("../img/icons/icon-btn-prev-small.svg");
    width: 8px;
    height: 18px;
  }

  .main-slider__btn-next--reviews-section {
    top: -10px;
    right: -10px;
  }

  .main-slider__btn-next--reviews-section .main-slider__btn-icon-next {
    background-image: url("../img/icons/icon-btn-next-small.svg");
    width: 8px;
    height: 18px;
  }

  .faq {
    padding-top: 39px;
    padding-bottom: 53px;
  }

  .faq__section-description {
    margin-bottom: 40px;
    text-align: center;
    width: 200px;
  }

  .faq__list {
    width: inherit;
  }

  .faq__list-item {
    padding: 10px 43px 10px 15px;
    min-height: auto;
    margin-bottom: 30px;
  }

  .faq__list-item:last-child {
    margin-bottom: 0;
  }

  .faq__question {
    font-size: 14px;
    line-height: 19px;
  }

  .faq__list-item::marker {
    font-size: 0;
  }

  .faq__button {
    top: 33px;
    right: -14px;
  }

  .faq__button-vertical-line,
  .faq__button-horizontal-line {
    width: 16px;
  }

  .faq__answer-container {
    font-size: 14px;
    line-height: 19px;
  }

  .reviews {
    min-height: auto;
    padding-bottom: 60px;
  }

  .reviews__secondary-title {
    margin-bottom: 138px;
  }

  .reviews__img-container {
    width: 242px;
    height: 166px;
    top: -89px;
    left: 25px;
  }

  .reviews__date {
    line-height: 16px;
  }

  .page-footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .page-footer__container {
    flex-direction: column;
    align-items: center;
  }

  .page-footer__container > * {
    margin-bottom: 15px;
  }

  .page-footer__container > *:not(:nth-child(4n)) {
    margin-right: 0;
  }

  .page-footer__logo-mobile {
    display: block;
    order: 4;
    margin: 0;
  }

  .page-footer__socials {
    order: 3;
    margin-bottom: 15px;
  }

  .page-footer__address {
    line-height: 19px;
    order: 1;
  }

  .page-footer__phone {
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
    order: 2;
  }
}