// Переменные цветов
$color-bgc-header: #181617;
$color-main-bgc: #1f1c1d;
$color-secondary-bgc: #151313;
$main-white: #ffffff;
$color-desc: #a07B50;
$disabled: rgba(255, 255, 255, 0.2);
$button-slider: rgba(160, 123, 80, 0.47);
$color-faq: #ddd0c3;
$color-text-reviews: rgba(255, 255, 255, 0.72);
$color-text-address: rgba(253, 242, 230, 0.83);
$color-socials-pseudo: rgba(255, 255, 255, 0.61);
$color-text-phone: #fdf2e6;

// Переменные вьюпортов
$tablet-width: 1159px;
$mobile-width: 767px;

// Переменные шрифтов
$roboto: 'Roboto', 'Verdana', sans-serif;
$yeseva-one: 'Yeseva One', 'Verdana', sans-serif;

// Тип начертания шрифта
$roboto-light: 300;
$roboto-regular: 400;
$roboto-medium: 500;
$roboto-bold: 700;
$yeseva-one-regular: 400;

// Размер шрифта
$title-main-size: 52px;
$title-second-size: 36px;
$text-main-size: 16px;
$title-secondary-mobile: 28px;
$text-secondary-size: 14px;
$text-alternate-size: 18px;
$text-small-size: 12px;

// Высота строки (интерлиньяж)
$main-interlining: 26px;
$secondary-interlining: 24px;
$third-interlining: 22px;
$mobile-main-interlining: 19px;
$mobile-secondary-interlining: 32px;
$main-title-interlining: 60px;
$secondary-title-interlining: 41px;